<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>app.servlets.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cookies</servlet-name>
        <servlet-class>app.servlets.CookiesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>app.servlets.RedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

</web-app>
